html, body{
	margin: 0;
	font-family: 'Lato';
}

div img{
	width: 625px;
	max-width: 85.56%;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

header img{
	width: 625px;
	max-width: 100%;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

header{
	width: 625px;
	max-width: 100%;
	padding: 40px;
	text-align: center;
}

h1{
	font-weight: bold;
	font-size: 3em;
}

h2{
	font-size: 1em;
}

p{
	margin: 16px auto;
	width: 625px;
	max-width: 95%;
	font-size: 1em;
	line-height: 1.618;
  	text-align: justify;

}

iframe{
	width: 625px;
    max-width: 85.56%;
    margin-left: auto;
    margin-right: auto;

}